# dependencies
node_modules/
yarn-error.log
yarn.lock
.pnp.js

# output directories
dist/
build/
out/
public/

# IDEs
.vscode/
.idea/

# misc
.cache/
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
Thumbs.db
